:root {
  --spacing-160: 16rem;
  --spacing-120: 12rem;
  --spacing-100: 10rem;
  --spacing-88: 8.8rem;
  --spacing-80: 8rem;
  --spacing-72: 7.2rem;
  --spacing-64: 6.4rem;
  --spacing-56: 5.6rem;
  --spacing-48: 4.8rem;
  --spacing-40: 4rem;
  --spacing-32: 3.2rem;
  --spacing-24: 2.4rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
  --spacing-4: 0.4rem;
  --spacing-2: 0.2rem;
  --spacing-0: 0rem;
  --spacing-auto: auto;
  --section-spacing-x: 4vw;
  --section-spacing-y: var(--spacing-120);
  --container-width: 152rem;
  --container-width-sm: 136rem;
  --container-width-xs: 125.6rem;
  --font-primary: "Noto Sans TC", sans-serif;
  --font-en: "Patua One", serif;
  --text-4xl: 4rem;
  --text-3xl: 3.2rem;
  --text-2xl: 2.8rem;
  --text-xl: 2.4rem;
  --text-lg: 2rem;
  --text-md: 1.8rem;
  --text-body: 1.6rem;
  --text-sm: 1.4rem;
  --text-xs: 1.2rem;
  --color-primary: #EA5514;
  --color-primary-rgb: 242, 109, 51;
  --color-primary-80: rgba(var(--color-primary-rgb), 0.8);
  --color-primary-60: rgba(var(--color-primary-rgb), 0.6);
  --color-primary-20: rgba(var(--color-primary-rgb), 0.2);
  --color-secondary: #FF986A;
  --color-bg: white;
  --color-success: var(--color-primary);
  --color-danger: #E2907C;
  --color-danger-rgb: 226, 144, 124;
  --color-danger-20: rgba(var(--color-danger-rgb), 0.2);
  --color-cocoa: #C7AF9E;
  --color-cocoa-dark: #C0AC94;
  --color-brown: #8E744D;
  --color-brown-rgb: 142, 116, 77;
  --color-brown-40: rgba(var(--color-brown-rgb), 0.4);
  --color-brown-light: #E3D6C4;
  --color-brown-light-rgb: 227, 214, 196;
  --color-brown-light-60: rgba(var(--color-brown-light-rgb), 0.6);
  --color-black: #000;
  --color-black-rgb: 43, 43, 43;
  --color-black-90: rgba(var(--color-black-rgb), 0.9);
  --color-black-80: rgba(var(--color-black-rgb), 0.8);
  --color-black-60: rgba(var(--color-black-rgb), 0.6);
  --color-black-40: rgba(var(--color-black-rgb), 0.4);
  --color-black-20: rgba(var(--color-black-rgb), 0.2);
  --color-black-10: rgba(var(--color-black-rgb), 0.1);
  --color-gray: #343434;
  --color-gray-light: #F9F8F7;
  --color-gray-light-rgb: 249, 248, 247;
  --color-gray-light-40: rgba(var(--color-gray-light-rgb), 0.4);
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-white-80: rgba(var(--color-white-rgb), 0.8);
  --color-white-60: rgba(var(--color-white-rgb), 0.6);
  --color-white-40: rgba(var(--color-white-rgb), 0.4);
  --color-transparent: transparent;
}
@media (max-width: 575.98px) {
  :root {
    --spacing-160: 24vw;
    --spacing-160: 30vw;
    --spacing-120: 20vw;
    --spacing-160: 30vw;
    --spacing-100: 18vw;
    --spacing-160: 30vw;
    --spacing-88: 17vw;
    --spacing-160: 30vw;
    --spacing-80: 16vw;
    --spacing-160: 30vw;
    --spacing-72: 15vw;
    --spacing-160: 30vw;
    --spacing-64: 14vw;
    --spacing-160: 30vw;
    --spacing-56: 12vw;
    --spacing-160: 30vw;
    --spacing-48: 10vw;
    --spacing-160: 30vw;
    --spacing-40: 8vw;
    --spacing-160: 30vw;
    --spacing-32: 6vw;
    --spacing-160: 30vw;
    --spacing-24: 4vw;
    --spacing-160: 30vw;
    --spacing-16: 3vw;
    --spacing-160: 30vw;
    --spacing-12: 2vw;
    --spacing-160: 30vw;
  }
}
@media (max-width: 767.98px) {
  :root {
    --section-spacing-x: 2vw;
  }
}
@media (max-width: 767.98px) {
  :root {
    --text-4xl: 3.6rem;
  }
}
@media (max-width: 575.98px) {
  :root {
    --text-4xl: 3.2rem;
    --text-3xl: 2.8rem;
    --text-2xl: 2.2rem;
    --text-xl: 2rem;
    --text-lg: 1.8rem;
    --text-md: 1.7rem;
  }
}

*, *::before, *::after {
  position: relative;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

::-moz-selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

html {
  font-size: 10px;
}
@media (max-width: 1199.98px) {
  html {
    font-size: 9.375px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 8.75px;
  }
}

.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.08em;
  line-height: 1.44;
  color: var(--color-black);
}

/* ----------------------------------- */
/* ------ Reset ------ */
/* ----------------------------------- */
a, button, input, label, select, textarea {
  touch-action: manipulation;
}

a, button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
a:hover, button:hover {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

svg {
  max-width: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.--initial, ol.--initial {
  list-style: revert;
}

ul.--initial {
  padding-left: 2.4rem;
}

ol.--initial {
  padding-left: 3.6rem;
}

table {
  max-width: 100%;
}

td, th {
  padding: 0 var(--spacing-12);
  border: 1px solid var(--color-black);
}

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

span {
  display: block;
  line-height: inherit;
}

/* ----------------------------------- */
/* ------ Layouts ------ */
/* ----------------------------------- */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

section {
  padding: var(--section-spacing-y) var(--section-spacing-x);
}

.container {
  --section-width: 100vw;
  max-width: var(--container-width);
}
.container.--sm {
  --container-width: var(--container-width-sm);
}
.container.--xs {
  --container-width: var(--container-width-xs);
}
.container.--left {
  width: auto;
  max-width: calc(var(--section-width) / 2 + var(--container-width) / 2 - var(--bs-gutter-x) * 0.5);
  padding-left: 0;
  margin-left: calc(-1 * var(--section-spacing-x));
}

.row.--no-gap {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.row.--gap {
  --bs-gutter-x: var(--spacing-16);
  --bs-gutter-y: var(--spacing-16);
}
@media (max-width: 575.98px) {
  .row.--gap {
    --bs-gutter-x: var(--spacing-8);
    --bs-gutter-y: var(--spacing-8);
  }
}

.js-lazy {
  background-color: var(--color-black-10);
  background-size: 100% 100%;
  background-position: 0 center;
}
.js-lazy.entered {
  background-color: transparent;
}/*# sourceMappingURL=broccoli_base.css.map */