// @import "broccoli_style";

.c-sideNav{
    color: var(--color-white);
    hr{
        opacity: 1;
        background-color: var(--color-white);
        height: var(--spacing-2);
    }
    &_selections{
        &_locations, &_topics{
            padding: var(--spacing-24);
            background-color: $prime_purple;
            border-radius: var(--spacing-32);
            margin: var(--spacing-24);
            text-align: center;
            font-size: var(--text-3xl);
        }
    }
}